@import "./element-ui.less";
@import "./display.less";
@import "./spacing.less";

@font-face {
  font-family: SourceHanSansCN;
  src: url("../assets/font/SourceHanSansCN-Normal.otf");
  font-weight: 400;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("../assets/font/SourceHanSansCN-Bold.otf");
  font-weight: 700;
}

html,
body {
  height: 100vh;
  font-family: SourceHanSansCN;
}

.app, .page {
  height: 100%;
}

.page {
  &-header {
    .label {
      min-width: 60px;
      text-align: end;
      color: #606266;
      font-size: 14px;
    }
  }
  &-content {
    overflow: auto;
  }
  .icon-button {
    cursor: pointer;
    border-radius: 2px;
    transition: color,background-color 333ms;
    &:hover {
      color: #fff;
      background-color: #f7889c;
    }
  }
}

.transparent {
  background-color: transparent;
}

.fa-14 {
  font-size: 18px;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 333ms;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
