@import './element-ui.less';
@import './display.less';
@import './spacing.less';
@import './elevation.less';

@font-face {
  font-family: SourceHanSansCN;
  font-weight: 400;

  src: url('../assets/font/SourceHanSansCN-Normal.otf');
}
@font-face {
  font-family: SourceHanSansCN;
  font-weight: 700;

  src: url('../assets/font/SourceHanSansCN-Bold.otf');
}

html,
body {
  font-family: SourceHanSansCN;

  height: 100vh;

// 开启GPU渲染加速

  transform: translate3d(0,0,0);
}

.app,
.page,
.height_full {
  height: 100%;
}

.window_button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  margin-left: 10px;

  cursor: pointer;
  transition: background-color, 333ms;

  color: #fff;
  border-radius: 2px;

  -webkit-app-region: no-drag;
  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.page {
  padding: 20px;
  &-header {
    .label {
      font-size: 14px;

      min-width: 60px;

      text-align: end;

      color: #606266;
    }
  }
  &-content {
    overflow: auto;
  }
  .icon-button {
    cursor: pointer;
    transition: color,background-color 333ms;

    border-radius: 2px;
    &:hover {
      color: #fff;
      background-color: #f7889c;
    }
  }
}

.transparent {
  background-color: transparent;
}

.fa-14 {
  font-size: 18px;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all 333ms;
}

.fade-transform-enter {
  transform: translateX(-30px);

  opacity: 0;
}

.fade-transform-leave-to {
  transform: translateX(30px);

  opacity: 0;
}
